*
{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.container
{
    position: relative;

}
.container .card
{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}
.container .card:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .card:hover:before
{
    clip-path: circle(300px at 80% -20%);
    background: #00ff62;

}
.container .card:after
{
    content: 'SpaRK';
    position: absolute;
    top: 40%;
    left: -5%;
    font-size: 7em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}
.container .card .imgBx
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;

}
.container .card:hover .imgBx
{
    top: 0%;
    transform: translateY(0%);    
}
.container .card .imgBx img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-25deg);
    width: 270px;
}
.container .card .contentBx
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentBx
{
    height: 150px;

}
.container .card .contentBx a:hover
{
    background: #00ff62;
    transition: 1s;


}
.container .card .contentBx h2 
{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .size
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
}
.container .card .contentBx .size h3
{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;

}
.container .card .contentBx .size span
{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}
.container .card .contentBx .size span:hover
{
 background: #9bdc28;   
}
.container .card .contentBx .color span
{
 width: 20px;
 height: 20px;
 background: #ff0;
 border-radius: 50%;
 margin: 0 5px;
 cursor: pointer;
}
.container .card .contentBx .color span:nth-child(2)
{
    background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(3)
{
    background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(4)
{
    background: #9bdc28;
}
.container .card a
{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;

}
.container .card:hover a
{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}