* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   }
   
   body {
    background: url(https://dynamicwallpaper.club/landing-vids/1.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
   }
   
   #context-menu {
    background-color: #ffffff4e;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
    color: #000000;
    width: auto;
    height: auto;
    border-radius: 15px;
    padding: 3px;
    font-size: 20px;
    position: fixed;
    visibility: hidden;
   }
   
   .item {
    padding: 0.2em 0.5em;
    border-radius: 10px;
    background: #ffffff44;
    margin: 5px;
    -webkit-transition: background-color 500ms linear;
   }
   
   .item:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
   }