@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans&family=Montserrat:wght@700&family=Pacifico&family=Rubik:wght@300&family=Sansita&family=Teko:wght@600&display=swap');
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #7c44ec;
    font-family: 'Rubik', sans-serif;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0px solid #fff;
    background: #fff;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 10px 10px 15px 0 #0000009d;
    transition: 0.5s;
}

.container .image
{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
}
.container .image img
{
    width: 100%;
    height: 100%;
}
.container .owner_image
{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
}
.container .owner_image img
{
    width: 100%;
    height: 100%;
}
.container .owner
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    width: 0%;
    height: 0px;
    transition: 0.5s;
    border-radius: 25px;
    overflow: hidden;
    transform: scale(0);
}
.container:hover .owner
{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    transform: scale(1);
}
.container .owner .info
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
}
.container .owner .info h2
{
    font-size: 15px;
    margin: 0 10px;
    color: #000000a2;
}
.container .owner .info h2 span
{
    font-size: 20px;
    color: #000000;  
}
.brack
{
    position: relative;
    border: 1px solid #00000038;
    height: 30px;
}
.exch_text
{
    position: relative;
    font-size: 20px;
    font-weight: 800;
}
.exch
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: 0.5s;
}
.container:hover .exch
{
    margin-bottom: 10px;
}
.exch_text span
{
    font-weight: 800;  
    color: #000000a8;
}
.container .btn
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
    transform: scale(0);
}
.container:hover .btn
{
    height: 50px;
    width: 100%;
    transform: scale(1);
}
.container .btn button
{
    position: relative;
    height: 50px;
    background: #7c44ec00;
    color: #000000;
    border: 0;
    font-size: 22px;
    font-weight: 500;
    border-radius: 12px 12px 25px 12px;
    width: 48%;
}
.container .btn button.active
{
    background: #7c44ec;
    color: #ffffff;
    cursor: pointer;
}
