*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f0053;
    transition: 0.5s;
}
.value
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
.menu
{
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu:hover > body
{
    background: #9000ff;
}
.menu li
{
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i));
    transform: rotate(45deg) translateX(100px);
    opacity: 0;
}

.menu.active li
{
    opacity: 1;
    transform: rotate(calc(360deg / 8 * var(--i)));
}
.menu li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--clr);
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 1.6em;
    transform: rotate(calc(-360deg / 8 * var(--i)));
    transition: 0.5s;
}
.menu.active li:hover a
{
    border: 2px solid var(--clr);
    box-shadow: 0 0 20px 3px var(--clr);
}
.toggle
{
    position: absolute;
    padding: 0;
    border: 3px solid #000;
    width: 60px;
    height: 60px;
    display:  flex;
    justify-content: center;
    background: linear-gradient(45deg, rgb(111, 0, 255), rgb(252, 0, 252));
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
    font-size: 5em;
    color: #000;
    transition: 2s;

}
.toggle:hover
{
    box-shadow: 0 0 20px 3px #9000ff;
}
.menu.active .toggle
{
    transform: rotate(720deg);
    box-shadow: 0 0 0px 0 #9000ff;

}