@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container
{
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
	height: 450px;
	transition: 0.5s;
}
.box{
    position: relative;
    width: 320px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg,#2da2ff 25%,#444 25%,#444 50%,#2da2ff 50%,#2da2ff 75%,#444 75%);
    background-size: 40px 40px;
    filter: grayscale(1);
    animation: animatebg 1s linear infinite;
    animation-play-state: paused;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    bottom: 0px;  
    border: 1mm ridge rgb(134, 255, 231);
}
 .box:hover{
    filter: grayscale(0);
    animation-play-state: running;
    height: 250px;
    bottom: -100px;  
    border: 2.5mm ridge rgb(134, 255, 231);
    -webkit-box-shadow:0px 0px 30px 0px rgba(0,217,255,1);
-moz-box-shadow: 0px 0px 30px 0px rgba(0,217,255,1);
box-shadow: 0px 0px 30px 0px rgba(0,217,255,1);
 }
.box:nth-child(2){
    background: linear-gradient(135deg,#ff61ae 25%,#444 25%,#444 50%,#ff61ae 50%,#ff61ae 75%,#444 75%);
    background-size: 40px 40px;
 
}
.box:hover:nth-child(2){
    border: 2.5mm ridge #ffd6f0;
    -webkit-box-shadow:0px 0px 30px 0px #ff30b3;
-moz-box-shadow: 0px 0px 30px 0px #ff46bb;
box-shadow: 0px 0px 30px 0px #ff52c0;
}
@keyframes animatebg {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 40px;
    }
}
.box .p1
{
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 5em;
    font-family: 'Bangers', cursive;
    z-index: 100;
    background: -webkit-linear-gradient(rgb(0, 255, 128), rgb(0, 208, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
      -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    transform: scale(0);
    transition: 0.5s;
}
.box:hover .p1
{
    transform: scale(1);
}
.box .p2
{
    position: absolute;
    transition: 0.5s;
    right: 10px;
    bottom: 0;
    font-size: 5em;
    font-family: 'Bangers', cursive;
    z-index: 100;
    background: -webkit-linear-gradient(rgb(224, 68, 255), rgb(255, 0, 195));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    transform: scale(0);
}
.box:hover .p2
{
    transform: scale(1);
}

.box .imgx{
    position: absolute;
    width: 90%;
    bottom: 0;
    transition: 0.5s;
    left: 40px;
    z-index: 0;
}
.box:hover .imgx{
    width: 110%;
    bottom: 0;
    left: 0;
}
